
body {
	background-color: lavenderblush;
/*	background-image: url("images/forest.jpeg");
*/	background-size: cover;
	text-align: center;
	font-family: 'KG One Thing', cursive;
}

#header {
	margin: 30px;
	width: 30%;
    box-shadow: 0px 0px 0px #000000;
}

.animal {
	border-style: solid;
	border-width: 3px;

	background-color: rgba(0, 0, 0, 0.5);
	padding: 1px 4px 1px 4px;
	/*border-radius: 8px;*/
}

.dropshadow {
    box-shadow: 5px 5px 39px #000000;
}

img {
	margin-top: 30px;
	width: 50%;
    box-shadow: 5px 5px 39px #000000;

}

a {
	text-decoration: none;
	letter-spacing: 3px;
	color: white;
	font-size: 2vw;
}

.myBigContainer {
	margin: 0;
    padding: 0;
    position: relative;
    background: #ffffff;
}

.myBigContainer:before {
    content: ' ';
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: 0.7;
	background-image: url("images/forest.jpeg");
    background-repeat: no-repeat;
    background-position: 50% 0;
    -ms-background-size: cover;
    -o-background-size: cover;
    -moz-background-size: cover;
    -webkit-background-size: cover;
    background-size: cover;
    margin: 0;
    padding: 0;
}
